

nav ul{
    list-style: none;

}

nav.nav-desktop ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 1.5rem;
}

a{
    text-decoration: none;
}