
.head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigation {
display: flex;
flex-direction: row;
gap: 1em;
list-style: none;
color: white;
background-color:#1e4c7a;
padding-top: 2em;
}

.navigation a {
text-decoration: none;
text-align: center;
color: white;
font-weight: 800;
}