.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 1fr;
  height: 100vh;
  grid-template-areas: "main boby";
  font-weight: 800;
  text-align: center;
  color: #004d;
  gap: 0.2rem;
}

.main{
  grid-area: main;
  background-color: #61dafb;

}

.boby{
  grid-area: boby;
  background-color: aqua;
}

@media (max-width:550px){

  .container{
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr auto;
    grid-template-areas: "main"
    "boby";
  }

}